<footer class="footer">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <span style="color: darkgrey; margin: 0 auto;">&copy; Leonardo Paixão Rodrigues. Todos os direitos reservados.</span>
    </nav>
</footer>