<div>
    {% for post in posts %}
        <a href="{{ post.url }}">
            {% if post.featureImage|length %}
                {% set image = post.featureImage.one() %}
                <div>
                    <img src="{{ image.getUrl({ width: 300, height: 300 }) }}" alt="{{ image.title }}" class="block"/>
                </div>
            {% endif %}
            <span>{{ post.title }}</span>
        </a>
    {% endfor %}
</div>